In [31]:
import pandas as pd
import numpy as np
from numpy.linalg import inv  # <-- THIS LINE is crucial

pd.__version__

'2.3.1'

In [32]:
car_dataset = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

car_dataset.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [33]:
### How many rows in the dataset?
number_of_rows = len(car_dataset)
print(f"Number of rows {number_of_rows}")

Number of rows 9704

In [34]:
##Q3. Fuel types
### How many fuel types are presented in the dataset?
num_fuel_types = car_dataset['fuel_type'].nunique()

print(f"Number of fuel types present in the dataset {num_fuel_types}")

Number of fuel types present in the dataset 2

In [35]:
## Q4. Missing values
### How many columns in the dataset have missing values?
print(f"Number of missing values: {car_dataset.isnull().sum()}")

Number of missing values: engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [36]:
##Q5. Max fuel efficiency
###What's the maximum fuel efficiency of cars from Asia?

max_cars_asia = car_dataset[car_dataset['origin'].isin(['Asia'])]['fuel_efficiency_mpg'].max()
print(f"Maximum fuel efficiency of cars from Asia: {max_cars_asia}")

Maximum fuel efficiency of cars from Asia: 23.759122836520497

In [37]:
##Q6. Median value of horsepower
### Find the median value of horsepower column in the dataset.
### Next, calculate the most frequent value of the same horsepower column.
### Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
### Now, calculate the median value of horsepower once again.


median_horsepower = car_dataset['horsepower'].median()
most_frequent_horsepower = car_dataset['horsepower'].value_counts().head(1)

car_dataset['horsepower'] =  car_dataset['horsepower'].fillna(most_frequent_horsepower)
second_median_horsepower = car_dataset['horsepower'].median()

print(f"First value of horsepower {median_horsepower}")
print(f"Second value of horsepower {second_median_horsepower}")

First value of horsepower 149.0
Second value of horsepower 149.0

In [38]:
##Q7. Sum of weights
### Select all the cars from Asia

cars_from_asia = car_dataset[car_dataset['origin'].isin(['Asia'])]
### Select only columns vehicle_weight and model_year
cars_from_asia = cars_from_asia[['vehicle_weight', 'model_year']]
### Select the first 7 values
cars_from_asia_first_seven = cars_from_asia.iloc[:7, :]

### Get the underlying NumPy array. Let's call it X.
X = cars_from_asia_first_seven.to_numpy()

### Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Get the transpose of X
XT = X.T
XTX = np.dot(XT, X)
inverse = inv(XTX)

### Invert XTX.
inverse = inv(XTX)
### Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
### Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = np.dot(np.dot(inverse, XT), y)
### What's the sum of all the elements of the result?

print(f"Sum: {np.sum(w)}")
###Note: You just implemented linear regression. We'll talk about it in the next lesson.

Sum: 0.5187709081074016